.DS_Store
.env
.env.*

.venv/
.venv-introspection/
*.egg-info/
models/
data/trace_collection/
introspection/data/activations/*.pt

__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

*.log

*.aux
*.fdb_latexmk
*.fls
*.out
*.synctex.gz
*.toc
